@*@model Bangazon.Models.Order*@


@*@{
    ViewData["Title"] = "AddProductToOrder";
}

<h2> Add to Order</h2>

<div>
    <h4> Product Added to Order!! </h4>
     <hr />
      <dl class="row">
          <dt class="col-sm-2">
              @Html.DisplayNameFor()
          </dt>



      </dl>








</div>*@